@model INFT3970Project.Models.ApplicationModels.ChartDataModel

@{
    Layout = "~/Views/Shared/_UnauthenticatedLayout.cshtml";
}

<div style="width:100%;">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div>
    </div>
    <canvas id="chart" class="chartjs-render-monitor col-md-12 col-xs-12" style="display: block;"></canvas>
</div>

<script src="~/lib/momentjs/momentjs.js"></script>
<script src="~/lib/chartjs/chart-min.js"></script>

<script>
    var dataSet = @Html.Raw(Json.Serialize(Model));
    var timeFormat = 'mm:ss';


  var ctx = document.getElementById("chart");
    var chart = new Chart(ctx, {
        type: 'bar',
        data: dataSet,
        options: {
            responsive: true,
            title: {
                display: false,
                text: 'Temperature / Humidity / Motion'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    time: {
                        parser: timeFormat,
                        round: 'second',
                        tooltipFormat: 'mm:ss'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature / Humidity / Motion'
                    }
                }]
            }
        }
    });
</script>