@model SensorModel

<h3>Add Sensor:</h3>
<div class="form-group">
    @using (Html.BeginForm("stub", "stub", FormMethod.Post, new { @class = "form-group" }))
    {
        <div class="form-group row-fluid">
            @Html.DropDownList("Sensor", (IEnumerable<SelectListItem>)ViewBag.SelectList,"Select Sensor", 
           new { @class = "form-control", @placeholder = "Select Sensor" })
            @Html.ValidationMessageFor(model => model.SensorId)
        </div>
        <div class="form-group row-fluid">
            <button class="btn btn-lg btn-primary" type="submit">Add Sensor</button>
        </div>
    }
</div>