@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">@{await Html.RenderPartialAsync("UpdatePassword");}</div>
    @*<div class="col-md-6">@{await Html.RenderPartialAsync("AddSensor");}</div>*@
</div>