@model INFT3970Project.Models.ApplicationModels.ChartDataModel

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div style="width:100%;">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div>
    </div>
    <canvas id="chart" class="chartjs-render-monitor col-md-12 col-xs-12" style="display: block;"></canvas>
</div>

<script src="~/lib/momentjs/momentjs.js"></script>
<script src="~/lib/chartjs/chart-min.js"></script>

<script>
  var ctx = document.getElementById("chart");
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: 'Motion',
                data: [12, 19, 3, 5],
                borderColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ], 

                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ]
            }, {
                label: 'Tempature',
                    data: [15, 26, 42, 30],
                    borderColor: [
                        'rgba(153, 102, 255, 1)',
                    ],
                    backgroundColor: [
                        'rgba(220, 220, 220, 0)',
                    ],
                    
                 type: 'line'
            },
            {
                label: 'Humidity',
                data: [10, 22, 40, 10],
                borderColor: [
                    'rgba(255, 159, 64, 1)'
                ],
                backgroundColor: [
                    'rgba(220, 220, 220, 0)',
                ],
                type: 'line'
                }],
            labels: ['1am', '2am', '3am', '4am']
        
            
        @*options: {
            responsive: true,
            title: {
                display: false,
                text: 'Temperature / Humidity / Motion'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    time: {
                        parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature / Humidity / Motion'
                    }
                }]
            }*@
        }
    });
</script>