@model IEnumerable<INFT3970Project.Models.Database_Entities.MotionModel>

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<h2>Motion</h2>
<table class="table">
    <thead class="thead-light">

        <tr>
            <th scope="col">#</th>
            <th scope="col">Motion</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.MotionId</th>
                    <td>
                        @item.Motion
                    </td>
                    <td>
                        @item.Date
                    </td>
                </tr>
            }
        }
    </tbody>
</table>