@model IEnumerable<INFT3970Project.Models.ApplicationModels.ChartData>

@{var temperatures = Model.ToArray();}

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div style="width:100%;">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div>
    </div>
    <canvas id="chart" class="chartjs-render-monitor col-md-12 col-xs-12" style="display: block;"></canvas>
</div>

<script src="~/lib/momentjs/momentjs.js"></script>
<script src="~/lib/chartjs/chart-min.js"></script>

<script>
    var array = @Html.Raw(Json.Serialize(temperatures));

    var timeFormat = 'MM/DD/YYYY HH:mm';

    var ctx = document.getElementById("chart");
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            datasets: [{
                label: 'My First dataset',
                data: array,
                backgroundColor: [ 'rgba(255, 99, 132, 0.2)'],
                borderColor: ['rgba(255,99,132,1)'],
                borderWidth: 1
            }]
        },

        options: {
            responsive: true,
            title: {
                display: false,
                text: 'Temperature'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    type: 'time',
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    },
                    time: {
                        parser: timeFormat,
                        // round: 'day'
                        tooltipFormat: 'll HH:mm'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Temperature'
                    }
                }]
            }
        }
    });
</script>

@*<table class="table">
    <thead class="thead-light">

        <tr>
            <th scope="col">#</th>
            <th scope="col">Motion</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.TempId</th>
                    <td>
                        @item.Temp &deg;C
                    </td>
                    <td>
                        @item.Date
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@
