@model IEnumerable<INFT3970Project.Models.Database_Entities.TemperatureModel>

@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<h2>Temperature</h2>
<table>
    @{
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <p>@item.TempId</p>
                </td>
                <td>
                    @item.Temp
                </td>
                <td>
                    @item.Date
                </td>
            </tr>
        }
    }
</table>