@{
    Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}

<div class="panel panel-default">

    <div class="panel-heading">Admin:</div>

    <div class="panel-body">

        
     
        @Html.ActionLink("Manage Sensor", "AddSensor", "Manage", null, new { @class = "btn btn-default" })
        @Html.ActionLink("Manage Rooms", "AddRoom", "Manage", null, new { @class = "btn btn-default" })
        <br />
        @ViewData["Message"]
    </div>
</div>